@page
@model FFTMS.RazorPages.Pages.CategoryPages.ListCategoryModel
@{
    ViewData["Title"] = "List Category";
    Layout = "_Layout";
}
<div class="main-container">
	<div class="pd-ltr-20 xs-pd-20-10">
		<div class="min-height-200px">
			<div class="page-header">
				<div class="row">
					<div class="col-md-6 col-sm-12">
						<div class="title">
							<h4>List Category</h4>
						</div>
						<nav aria-label="breadcrumb" role="navigation">
							<ol class="breadcrumb">
								<li class="breadcrumb-item">Category</li>
								<li class="breadcrumb-item active" aria-current="page">List Category</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
			<div class="d-flex justify-content-between align-items-center mb-3">
				<a asp-page="CreateCategory" class="btn btn-success">+ Add Category</a>
			</div>
			<div class="d-flex justify-content-between align-items-center mb-3">
				<a asp-page="ListProduct" class="btn btn-success">List Product</a>
			</div>
			<!-- Table -->
			<div class="card-box mb-30">
				<div class="pd-20">
					<h4 class="text-blue h4">List Of Product</h4>
				</div>
				<div class="pb-20">
					<table class="data-table table stripe hover nowrap">
						<thead>
							<tr>
								<th>ID</th>
								<th>Name</th>
								<th>Description</th>
								<th>Image</th>
								<th>Create Date</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var product in Model.ListProduct)
							{
								<tr>
									<td>@product.CategoryId</td>
									<td>@product.CategoryName</td>
									<td>@product.Description</td>
									<td>@product.CategoryImageUrl</td>
									<td>@product.CreateDate.ToString("dd-MM-yyyy")</td>
									<td>@product.Status</td>
									<td>
										<div class="dropdown">
											<button class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
													type="button"
													id="dropdownMenuButton"
													data-bs-toggle="dropdown"
													aria-expanded="false">
												<i class="dw dw-more"></i>
											</button>
											<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
												<li>
													<a class="dropdown-item" asp-page="UpdateCategory" asp-route-id="@product.CategoryId">
														<i class="dw dw-edit"></i> Edit
													</a>
												</li>
												<li>
													<a class="dropdown-item" asp-page="#" asp-route-id="@product.CategoryId">
														<i class="dw dw-delete"></i> Delete
													</a>
												</li>
											</ul>
										</div>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
			<!-- Table End -->
		</div>
	</div>
</div>